@model List<Category>;

@{
    ViewData["Title"] = "All Categories";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create new Category
            </a>
        </div>
    </div>
    <br/>

 
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    S/N
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th>
                    Created Date time
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @(i+1)
                    </td>
                    <td>
                        @Model[i].Name
                    </td>
                    <td>
                        @Model[i].DisplayOrder
                    </td>
                    <td>
                        @Model[i].CreatedDateTime
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>

                    </td>
                </tr>
            }
@*            @foreach(var category in Model)
            {
                <tr>
                    <td>
                        @
                    </td>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.DisplayOrder
                    </td>
                    <td>
                        @category.CreatedDateTime
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>
